@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    background-attachment: fixed;
    background-image: url("../img/background.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 4rem;
    position: relative;
    text-align: center;
}

.jogos__configuracao {
    background-color: white;
    border-radius: 5px;
    display: flex;
    margin: 0 auto 2.5rem auto;
    max-width: 500px;
    width: 90%;
}

.jogos__input {
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    padding: 1rem;
    width: calc(100% - 100px);
}

.jogos__botao {
    background-color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    transition: background-color 200ms;
    width: 50px;
}

.jogos__botao--adicionar {
    color: green;
}

.jogos__botao--adicionar:hover {
    color: white;
    background-color: green;
}

.jogos__botao--deletar {
    color: red;
}

.jogos__botao--deletar:hover {
    color: white;
    background-color: red;
}

.jogos__capas {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}

.jogos__capa {
    position: relative;
    max-height: 250px;
    transition: transform 400ms;
}

.jogos__capa:hover {
    transform: scale(1.1);
}

.capa__imagem {
    max-height: inherit;
}

.capa__deletar {
    background-color: rgba(255, 0, 0, .5);
    border: none;
    border-radius: 5px;
    bottom: 0px;
    color: white;
    cursor: pointer;
    height: 30px;
    margin-bottom: 5px;
    margin-right: 5px;
    position: absolute;
    right: 0px;
    transition: background-color 400ms;
    width: 30px;
}

.capa__deletar:hover {
    background-color: rgba(255, 255, 255, 1);
    color: red;
}

.rodape {
    bottom: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
    position: absolute;
    text-align: center;
    width: 100%;
}